<!-- Modales de l’application -->
{% include 'partials/modal_materiel.html' %}

{% include 'partials/modal_affectation_history.html' %}

{% include 'partials/modal_reforme.html' %}

{% include 'partials/modal_panne.html' %}

{% include 'partials/modal_repair.html' %}

{% include 'partials/modal_report.html' %}

{% include 'partials/modal_type_materiel.html' %}

{% include 'partials/modal_structure.html' %}

{% include 'partials/modal_utilisateur.html' %}

{% include 'partials/modal_cpu.html' %}

{% include 'partials/modal_se.html' %}

{% include 'partials/modal_lot_reforme.html' %}

{% include 'partials/modal_parametre.html' %}

{% include 'partials/modal_oracle_sql.html' %}
